.alert {
    margin: 24px 0;
    padding: 12px 24px;
    background-color: #7477bf;
    color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.alert__close {
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

