.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }
}

.dialog__pane {
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.24);
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

.dialog__close {
    cursor: pointer;
}
