.site__header {
    background-color: $color--main;
    color: #fff;
    height: 70px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    flex: 0 0 auto;
}

.header__toolbar {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

.notification {
    border-right: 1px solid rgba(0,0,0,0.24);
    padding: 5px 12px;
    margin-right: 12px;
    position: relative;
    cursor: pointer;

    &.has-notification:before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: 12px;
        background-color: $color--secondary;
        border: 2px solid $color--main;
    }
}

.notification__dropdown {
    display: none;
    position: absolute;
    right: 75%;
    background: #fff;
    padding: 24px;
    top: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.24);
    color: rgba(0,0,0,0.87);
    width: 250px;

    &.active {
        display: block;
    }
}

.notification__item {
    padding: 12px 0;
    border-bottom: $divider;

    &:last-of-type {
        border-bottom: 0;
    }
}

.user {
    display: flex;
    align-items: center;
}

.user__avatar {
    img {
        display: block;
        max-width: 48px;
        border-radius: 50%;
    }
}

.user__name {
    display: none;
}



@include mq(sm) {

    .user__avatar img {
        margin-right: 12px;
    }
    .user__name {
        display: block;
    }
}
