.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: flex;
    align-items: center;
    border-bottom: $divider;
    padding: 12px 0;

    &:last-of-type {
        border-bottom: 0;
    }

    &--action {
        position: relative;
        padding-right: 40px;

        &:after {
            content: "";
            background-image: url(../icons/icon-arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            position: absolute;
            width: 36px;
            height: 36px;
            right: 0;
            top: 50%;
            margin-top: -18px;
            background-size: cover;
        }
    }
}

.list__date {
    margin-left: auto;
    display: none;
}

.list__avatar {
    img {
        display: block;
        max-width: 48px;
        border-radius: 50%;
        margin-right: 24px;
    }
}

.list__meta {
    font-size: 14px;
    color: rgba(0,0,0,0.54);
}

@include mq(md) {
    .list__date {
        display: block;
    }
}
